<!DOCTYPE html>
<html>
<head>
  <!--<link rel="stylesheet"  href="/assets/login_style.css">-->
  
  <title>mentor mate app</title>
</head>
<body>
  <div>
  	<label class ="text-center"><%= username %></label>
    <form method="post" action="/api/home/edit/">
    	<input type="text" name="name" placeholder="Full Name">
		<input type="text" name="address" placeholder="Address">
		<input type="text" name="enrollment_no" placeholder="Enrollment_no">
		<input type="text" name="contact" placeholder="contact">
		<input type="text" name="dob" placeholder="dob">
		<input type="submit" name="" value="Submit">
    </form>
  </div>
  <div>
    
  </div>
</body>
</html>